@import "./sass/shared.scss";

html 
{
  width: 100%;
  height: 100%;
}

body 
{
  width: 100%;
  height: 100%;
  background-color: $color-4;
  color: $color-fg;
}

img
{
  border: 4px solid $color-1;
}

:root 
{
  width: 100%;
  height: 100%;
}